<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.65.1.0" targetFramework="native" />
  <package id="boost_atomic-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_bzip2-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_chrono-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_container-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_context-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_coroutine-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_date_time-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_exception-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_filesystem-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_graph-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_iostreams-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_locale-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_log_setup-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_log-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_math_c99f-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_math_c99l-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_math_c99-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_math_tr1f-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_math_tr1l-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_math_tr1-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_prg_exec_monitor-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_program_options-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_python3-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_python-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_random-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_regex-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_serialization-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_signals-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_stacktrace_noop-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_stacktrace_windbg-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_system-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_test_exec_monitor-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_thread-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_timer-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_type_erasure-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_wave-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_wserialization-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_zlib-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost-vc100" version="1.65.1.0" targetFramework="native" />
</packages>