<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.65.1.0" targetFramework="native" />
  <package id="boost_random-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_system-vc100" version="1.65.1.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc100" version="1.65.1.0" targetFramework="native" />
</packages>